name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.8 ]
    if: github.event.repository.fork == false
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install upgrade pip
        run: python3 -m pip install --upgrade pip
      - name: Install Python dependencies
        run: python3 -m pip install -r requirements.txt
      - run: python3 -m mkdocs gh-deploy --force
